* text=auto !eol
/ACKNOWLEDGEMENTS -text
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-mk-en.en.dix -text
/apertium-mk-en.mk-en.alpha.dix -text
/apertium-mk-en.mk-en.dix -text
/apertium-mk-en.mk-en.lex -text
/apertium-mk-en.mk-en.lrx -text
/apertium-mk-en.mk-en.rlx -text
/apertium-mk-en.mk-en.t1x -text
/apertium-mk-en.mk-en.t2x -text
/apertium-mk-en.mk-en.t3x -text
/apertium-mk-en.mk.acx -text
/apertium-mk-en.mk.dix -text
/apertium-mk-en.post-en.dix -text
/autogen.sh -text
/configure.ac -text
dev/HOURS -text
dev/RULES-AND-MULTIWORDS -text
dev/bidix/pending_adjectives.txt -text
dev/bidix/pending_adverbs.txt -text
dev/bidix/pending_nouns.txt -text
dev/bidix/pending_numerals.txt -text
dev/bidix/pending_prepositions.txt -text
dev/bidix/pending_proper_nouns.txt -text
dev/bidix/pending_verbs.txt -text
dev/bilingual-summary.txt -text
dev/categories -text
dev/classified-personal-nouns -text
dev/eval/process-tests.sh -text
dev/eval/setimes.2010-09-18.mk-en.txt -text
dev/eval/wikipedia.2010-09-18.mk-en.txt -text
dev/find-translation.sh -text
dev/generation-summary.txt -text
dev/generation-test.sh -text
dev/inconsistency-summary.sh -text
dev/inconsistency.sh -text
dev/missing-bidix-freq.sh -text
dev/pers-nouns-mk-en -text
dev/testvoc-summary.txt -text
dev/testvoc.sh -text
/en-mk.prob -text svneol=unset#unset
/lexchoicebil.xsl -text
/mk-en.prob -text
/modes.xml -text
/pending-tests.sh -text
/prep-smoothing -text
samples/sample1.txt -text svneol=unset#application/octet-stream
samples/sample2.txt -text svneol=unset#application/octet-stream
samples/sample3.txt -text svneol=unset#application/octet-stream
samples/sample4.txt -text svneol=unset#application/octet-stream
samples/sample5.txt -text svneol=unset#application/octet-stream
samples/sample6.txt -text svneol=unset#application/octet-stream
/wiki-tests.sh -text
