* text=auto !eol
/ACKNOWLEDGEMENTS -text
/HOURS -text
/Makefile -text
/apertium-mk-en.mk-en.alpha.dix -text
/apertium-mk-en.mk-en.dix -text
/apertium-mk-en.mk-en.lex -text
/apertium-mk-en.mk-en.t1x -text
/apertium-mk-en.mk-en.t2x -text
/apertium-mk-en.mk-en.t3x -text
dev/bidix/pending_adjectives.txt -text
dev/bidix/pending_adverbs.txt -text
dev/bidix/pending_nouns.txt -text
dev/bidix/pending_numerals.txt -text
dev/bidix/pending_prepositions.txt -text
dev/bidix/pending_proper_nouns.txt -text
dev/bidix/pending_verbs.txt -text
dev/eval/setimes.2010-09-18.mk-en.txt -text
dev/generation-summary.txt -text
dev/generation-test.sh -text
dev/inconsistency-summary.sh -text
dev/inconsistency.sh -text
dev/test_phrases.mk.txt -text
dev/testvoc-summary.txt -text
/lexchoicebil.xsl -text
/mk-en.prob -text
/modes.xml -text
